fn main() {
    let x = 1;
    let y = 2;
    let z = 12;
    let hello = "Hai";

    for (int i = 0; i < 10; i++) {
        print(i);
    }

    print(1 + 2 + z);
    print("Hai");
    print(hello)
}
